body{
	padding:0px;
	margin:0px;
	background:rgb(10,222,255);
	color:#000;
}

h3{
	color:#fff;
}

.container {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.bin{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	margin-top:4rem;
	margin-bottom:3rem;
}

.roman{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

a{
	color:#fff;
	text-decoration:none;
	padding:8px;
	width:250px;
	text-align:center;
	border-radius:8px;
	background:rgb(43,113,255);
}
